<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat With Fun</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="message-container">
        <!--<div>
            <div class="others-message">
                <div class="other-name">Name</div>
                <div class="other-msg">Name's message</div>
            </div>
        </div>
        <div>
            <div class="own-message">
                <div class="own">You</div>
                <div class="own-msg">your message</div>
            </div>
        </div>-->
    </div>
    <form action="" class="message-form">
        <input class="message" type=text name="message" required>
        <button type="submit" name="Send">Send</button>
    </form>
</body>
</html>