<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat With Fun</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="rooms-container">
        <% Object.keys(rooms).forEach(room=>{ %> 
            <div class="rooms">
                <span class="rooms-names"><%=room %></span>
                <a href="/<%= room %>" class="rooms-button"><button>Join</button></a>
            </div>
        <% }); %> 
    </div>
    <div id="create-rooms" >
        <form id="rooms-form" action="/room" method="post">
            <input name="room" type="text" placeholder="New room name"required>
            <button type="submit"> Create</button>
        </form>
    </div>
</body>
</html>