*{
    margin:0;
    padding:0;
}

body{
    box-sizing: border-box;
    
}


#header{
    width:100%;
    height:50px;
    font-size: 30px;
    position:fixed;
    top:0;
    padding-top:20px ;
    padding-left: 50px;
    background-color: aqua;
}

.message-form{
    position: fixed;
    bottom:0;
    min-height:80px;
    width:100%;
    display:flex;
    background-color: aqua;
    padding: 10px;
    font-size: 20px;
}

.message-form>*,#rooms-form>*{
    margin:10px;
    border-radius: 20px;
    font-size: 20px;
}
.message,#rooms-form>input{
    width:80%;
    padding-left: 10px;
    padding-right:10px;
    outline:none;
}

.message-form>button,#rooms-form>button{
    width:20%;
    margin-right: 30px;
    background-color: rgb(130, 199, 91);
    color:rgb(32, 68, 31);
    font-size:20px;
}

#message-container{
    width:90%;
    padding:50px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 100px;
}



#message-container .others-message{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 2px black solid;
    padding:10px;
    margin:20px;
    font-size: 25px;
    max-width: 500px;
    float: left;
}

#message-container .own-message{
    background-color: rgba(11, 241, 80, 0.521);
    color:rgb(7, 27, 11);
    float:right;
    border-radius: 20px;
    border: 2px black solid;
    padding:10px;
    margin:20px;
    font-size: 25px;
    max-width: 500px;
}


.other-name,.own{
    font-size: 20px;
}

.user-joined{
    margin-left:20px;
    margin-top: 20px;
    background-color: rgb(197, 240, 216);
    color:rgb(78, 78, 78);
    border-radius: 20px;
    border: 1px black solid;
    font-size: 15px;
    padding:10px;
    float: left;
}








.rooms,#create-rooms{
    width:100%;
    height:60px;
    background-color: rgb(119, 190, 190);
    color:rgb(48, 54, 49);
    font-size: 30px;
    padding:20px;
    margin-bottom: 20px;
}

.rooms-names{
    margin-left: 10px;
}

.rooms-button{
    margin-left: 250px;
    padding: 10px;
    background-color: rgb(223, 232, 233);
    font:20px;
    border-radius: 20px;
}



#rooms-form>input{
    width:40%;
    height:30px;
}

#rooms-form>button{
    width:10%;
    height:30px;
}